.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1 {
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: 2rem;
}

.header nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.header nav ul li{
    font-family: var(--text-font);
    padding: .8rem 1rem;
    font-size: 1rem;
}

.header nav ul li a {
    color: var(--white);
}

.registerButton {
    background-color: var(--white);
    border-radius: .5rem;
}

.registerButton a {
    color: var(--primary-color) !important;
}

