.headerCadastro h1 {
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: 2rem;
    padding-left: 6rem;
}

@media (max-width: 730px) {
    .headerCadastro h1 {
        padding-left: 0;
        text-align: center;
    }
}