.recipesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--background);
}

.recipesContainer h2 {
    font-size: 2rem;
    font-family: var(--title-font);
    color: var(--title-color);
    margin-bottom: 1rem;
}

.recipesContainer p {
    width: 500px;
    text-align: center;
    color: var(--text-color);
    font-family: var(--text-font);
}

.recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.recipesItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    border-radius: .3rem;
    box-shadow: 0px 15px 20px 0px rgba(29,22,77,0.2);
}

.recipesItem img {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.recipesItem h2 {
    font-size: 1.5rem;
    font-family: var(--title-font);
    color: var(--title-color);
    width: 250px;
}

.recipesItem button {
    border: none;
    color: var(--white);
    background-color: var(--primary-color);
    padding: .875rem 1.125rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: filter .2s ease-in;
}

@media (max-width: 950px) {
    .recipesContainer p {
        width: 350px;
    }
    .recipesItem h2 {
        font-size: 1rem;
    }
    .recipesItem button {
        padding: .5rem 1rem;
    }    
}

@media (max-width: 850px) {
    .recipes {
        display: flex;
        flex-direction: column;        
        gap: 1.5rem;
    }
}

@media (max-width: 410px) {
    .recipesContainer{
        width: 100%;
        text-align: center;
    }
    .recipesContainer p{
        width: 100%;
    }
    .recipes {
        gap: 1rem;
    }    
    .recipesItem div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .recipesItem div h2 {
        width: 100%;
    }
}