.BlogSectionContainer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding-left: 6rem;
    overflow: hidden;
}

.BlogSectionContainer h2 {
    font-size: 2rem;
    font-family: var(--title-font);
    color: var(--title-color);
}

.BlogSectionContainer p {
    font-size: 1rem;
    font-family: var(--text-font);
    color: var(--text-color);
    width: 510px;
    text-align: center;
    padding: .5rem 0;
}

.BlogCardsContainer {
    display: flex;
    position: relative;
    padding: 1rem 0;
    gap: 2rem;
    padding-left: 12rem;
}

.BlogCardsContainer::after {
    content: '';
    position: absolute;
    right: 10%;
    width: 200px;
    height: 100%;
    background: rgba(255, 255, 255, .4);
}

.blogCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 15px 20px 0px rgba(29,22,77,0.2);
    width: 25vw;
}

.blogCard h2 {
    font-size: 1.5rem;
    margin: 1rem;
}

.cardAuthor {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    justify-content: flex-start;
}

.cardAuthor span {
    font-size: 1rem;
    font-family: var(--text-font);
    color: var(--text-color);
    margin-left: 1rem;
}

.cardAuthor img {
    border-radius: 50%;
}

.ButtonMoveSlide {
    position: absolute;
    right: 15%;
    top: 40%;
    border: none;    
    padding: .5rem;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--primary-color);
    cursor: pointer;
    z-index: 5;
    transition: filter .2s ease-in;
}

@media (max-width: 930px) {
    .BlogSectionContainer{
        padding-left: 0;
    }    
    .BlogCardsContainer {
      display: flex;
      justify-content: center;
      padding-left: 15vw;
    }
    .BlogCardsContainer::after {
        right: 0;
        width: 20vw;
    }
    .blogCard {
        width: 20vw;
    }
    .blogCard h2 {
        font-size: 0.875rem;
        text-align: center;
    }
    .cardAuthor {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
        justify-content: flex-end;
    }
    .cardAuthor span {
        font-size: .8rem;
        margin-left: 0;
        margin-top: .5rem;
    }
    .ButtonMoveSlide {
        right: 8%;
    }
  }

  @media (max-width: 750px) {
    .BlogCardsContainer {
        padding-left: 10vw;
    }
    .BlogSectionContainer p {
        width: 100%;
    }
    .cardAuthor img{
        width: 30px;
        height: 30px;
    }
  }