.serviceContainer {
    display: flex;
    justify-content: space-between;
}

.serviceDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}