.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
}

.footer span {
    font-size: 1rem;
    font-family: var(--text-font);    
}

.footer span {
    color: var(--title-color);
}

.footer div span {
    color: var(--text-color);
    padding: 0 1rem;
}

@media (max-width: 880px) {
    .footer {
        padding: 1rem 2rem;
    }
}

@media (max-width: 750px) {
    .footer {
        padding: .5rem 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        text-align: center;
        padding: 0;
    }
    .footer span:first-child {
        margin-bottom: .5rem;
    }
}