.RegisterSectionContainer h2{
    font-size: 2rem;
    font-family: var(--title-font);
    color: var(--title-color);
    padding-left: 6rem;
    margin: 1rem 0;
}

.RegisterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}