.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 700px;
    padding-left: 6rem;
}

.form input {
    width: 100%;
    border: 1px solid #2D3561;
    font-family: var(--text-font);
    padding: .8rem;
    margin-right: 1rem;
    border-radius: .2rem;
    margin: 1rem 0;
}

.form div:first-child {
    grid-column: 1/4;
}

.form div:nth-child(3) {
    grid-column: 1/4;
}

.form div:nth-child(4) {
    grid-column: 1/4;
}

.formInputSmall {
    display: flex;
    grid-column: 1/4;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.formInputSmall input {
    width: 180px;
}

.form button {
    border: none;
    background: var(--primary-color);
    color: var(--white);
    padding: .8rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .2rem;
    grid-column: 1/4;
    margin: .5rem 0;
    transition: filter .2s ease-in;
}

.form button:hover {
    filter: brightness(.85);
}

.form button:disabled {
    cursor: not-allowed;
    opacity: .5;
}